<!doctype html>
<html lang="en" ng-app="minblog">
<head>
  <meta charset="utf-8">
  <title>minblog</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <!-- <link rel="shortcut icon" type="image/x-icon"
  href="https://cdn4.iconfinder.com/data/icons/miu/24/circle-more-detail-outline-stroke-128.png"/> -->
  <link rel="stylesheet" href="static/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="static/css/main/main.css" />
  <link rel="stylesheet" href="static/css/blogEntry-list/blogEntry-list.css" />

  <script src="static/lib/jquery/dist/jquery.js"></script>
  <script src="static/lib/angular/angular.js"></script>
  <script src="static/lib/angular-animate/angular-animate.js"></script>
  <script src="static/lib/angular-resource/angular-resource.js"></script>
  <script src="static/lib/angular-route/angular-route.js"></script>
  <script src="static/js/main/main.module.js"></script>
  <script src="static/js/main/main.config.js"></script>
  <script src="static/js/services/services.module.js"></script>
  <script src="static/js/services/blogEntry/blogEntry.module.js"></script>
  <script src="static/js/services/blogEntry/blogEntry.service.js"></script>
  <script src="static/js/blogEntry-list/blogEntry-list.module.js"></script>
  <script src="static/js/blogEntry-list/blogEntry-list.component.js"></script>
</head>
<body>

  <div class="container ng-view">

    <!-- {% block body %}
    {% endblock %} -->

  </div>

</body>
</html>
