<div class="blogEntryDetail">
  <h1>{{$ctrl.detailedBlogEntry.entry_title}}</h1>
  <p ng-bind-html="$ctrl.detailedBlogEntry.entry_text"></p>
</div>
<div class="blogEntryDetail-buttonGroup">
  <button type="button" class="btn btn-warning" ng-click="$ctrl.gotoEdit()">Edit</button>
  <button type="button" class="btn btn-danger"
          data-toggle="modal"
          data-target=".blogEntryDetail-deleteModal">
          Delete
  </button>
</div>

<div class="blogEntryDetail-deleteModal modal fade" tabindex="-1" role="dialog">
  <div class="specialModalAligner">
    <div class="modal-dialog centrify" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div> -->
        <div class="modal-body">
          <p>
            Are you sure that you want to <b><span style="color:red">remove</span></b> this blog entry?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button"
                  id="blogEntryDetail-modal-delBtn"
                  class="btn btn-danger"
                  data-loading-text="Deleting..."
                  ng-click="$ctrl.gotoDelete()">Yes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div><!-- /.modal -->
