.blogEntryList {
  padding-top: 10px;
  padding-bottom: 10px;
}

.blogEntryList .blogEntry-entry {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border:1px solid #D3D3D3; /*LightGrey */
  border-radius: 10px;
  background-color: #FFFFFF; /*White*/
}

.blogEntry-entry .blogEntry-header-anchor {
  color: black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.blogEntry-entry .blogEntry-header {
  /*letter-spacing: 1px;*/
}

.blogEntry-entry .blogEntry-text {
  max-height: 150px;
  overflow: hidden;
}
