.blogEntryList {
  padding-top: 10px;
  padding-bottom: 10px;
}

.blogEntryList .blogEntry-entry {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border:1px solid #D3D3D3; /*LightGrey */
  border-radius: 10px;
  background-color: #FFFFFF; /*White*/
}

.blogEntry-entry .blogEntry-header-anchor {
  color: black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.blogEntry-entry .blogEntry-header {
  /*letter-spacing: 1px;*/
}

.blogEntry-entry .blogEntry-text {
  /*max-height: 150px;
  overflow: hidden;*/
}

.blogEntry-entry .blogEntry-text-preferred {
  max-height: 150px;
  overflow: hidden;
}

.blogEntryList #blogEntryList-pag {
  text-align: center;
}

.blogEntryList #blogEntryList-sort {
  margin-top: 10px;
  /*position: relative;*/
  float: right;
  overflow: hidden;
}

#blogEntryList-sort p, #blogEntryList-sort select {
  display: inline;
  /*position:absolute;*/
  /*right: 0px;*/
}

.blogEntryList .clear {
  clear:both;
}
