<script src="static/js/blogEntry-create/blogEntry-create.jquery.js"></script>

<div class="blogEntryCreate">
    <form ng-submit="$ctrl.createNewBlogEntryFunc()">
        <input  type="text"
                class="form-control"
                placeholder="What's on your mind?"
                id="blogEntryCreate-newEntryTitle"
                ng-model="$ctrl.newBlogEntryTitle"
                ng-keyup="$ctrl.keyUpHandler()"
                autofocus >
        <textarea ui-tinymce="$ctrl.tinymceOptions"
                  id="blogEntryCreate-newEntryText"
                  ng-model="$ctrl.newBlogEntryText"></textarea>
        <button type="submit"
                id="blogEntryCreate-submitBtn"
                data-loading-text="Creating..."
                class="btn btn-primary btn-lg btn-block disabled">Create</button>
        <div id="blogEntryCreate-successAlert"
             class="alert alert-success alert-dismissible"
             role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                     aria-hidden="true">&times;</span></button>
             <strong>Done!</strong> Your blog entry has been created!
       </div>
    </form>
</div>

<!-- visibility: hidden -->
<span id="blogEntryDummySpan" style="display: none">
  <div class="blogEntryList">
    <div class="blogEntry-entry">
      <a class="blogEntry-header-anchor" href="#">
        <h1 class="blogEntry-header">{{$ctrl.newBlogEntryTitle}}</h1>
      </a>
      <p id="blogEntryDummyP" class="blogEntry-text" ng-bind-html="$ctrl.newBlogEntryText"></p>
    </div>
  </div>
</span>
