<div class="blogEntryList">
  <input type="text" class="form-control" placeholder="Search something..." ng-model="$ctrl.search" />
  <div class="blogEntry-entry" ng-repeat="blogEntry in $ctrl.blogEntries | filter:$ctrl.search">
    <a class="blogEntry-header-anchor" href="/detail/{{blogEntry.entry_id}}">
      <h1 class="blogEntry-header">{{blogEntry.entry_title}}</h1>
    </a>
    <!-- <p class="blogEntry-text" ng-bind-html="blogEntry.quick_text"></p> -->
    <p class="blogEntry-text" ng-bind-html="$ctrl.explicitlyTrustedHtml(blogEntry.quick_text)"></p>
  </div>
</div>
