<!doctype html>
<html lang="en" ng-app="minblog">
  <head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="static/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="static/css/app.css" />

    <script src="static/lib/jquery/dist/jquery.js"></script>
    <script src="static/lib/angular/angular.js"></script>
    <script src="static/lib/angular-animate/angular-animate.js"></script>
    <script src="static/lib/angular-resource/angular-resource.js"></script>
    <script src="static/lib/angular-route/angular-route.js"></script>
    <script src="static/js/app/app.module.js"></script>
    <script src="static/js/app/app.config.js"></script>
  </head>
  <body>

      <p>{a 'Hello' a}!</p>
      <p>{{ 'Hello' }}?</p>

  </body>
</html>
